/* NavBar.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;  /* Ajuste o padding para telas pequenas */
    height: 5rem;
    background-color: var(--main-color);
    color: white;
}

.title {
    font-size: 18px;
    text-shadow: 2px 3px 2px black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    text-transform: uppercase;
    color: var(--white-color);
    transition: 0.8s;
}

.navigation a:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 20px;
}

/* Menu hambúrguer (quando em tela pequena) */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    /* Alinhar a navbar em coluna para telas pequenas */
    header {
        flex-direction: row;
        padding: 1rem;  /* Reduzir o padding em telas pequenas */
    }

    .navigation {
        display: none; /* O menu estará oculto por padrão */
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .navigation.active {
        display: flex;  /* Mostrar o menu quando a classe 'active' for adicionada */
        flex-direction: column;
        
    }

    .navigation a {
        margin: 10px 0;
        padding: 12px;
        font-size: 16px;
    }

    .menu-toggle {
        display: block;  /* Mostrar o ícone de hambúrguer */
    }
}

/* Responsividade adicional para telas menores */
@media (max-width: 480px) {
    .title {
        font-size: 16px;
    }

    .navigation a {
        font-size: 14px;
    }
}
