.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card .btn {
    width: 100%;
}

@media (max-width: 426px) {
    .card {
        width: 80%;
        margin: 0 auto;
    }
}