:root {
    --main-color: #fc035a;
    --red-food: #ff5722;
    --white-color: #fff;
    --black-color: #1f1d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(./images/pngtree-3d-illustration-of-online-food-delivery-app-on-mobile-device-picture-image_5809789.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
    padding-top: 40px;
}

