.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
}

.main-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
    color: #000000;
}

.btn-danger {
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.btn-danger:hover {
    background: #c82333;
}

/* Responsividade para telas pequenas (375px) */
@media (max-width: 375px) {
    .main-card {
        width: 100%; /* Card ocupa toda a largura da tela */
    }

    .card-img-top {
        height: 150px;  /* Ajusta a altura da imagem */
    }

    .card-body {
        padding: 10px; /* Diminui o padding */
    }

    .card-title {
        font-size: 1.1rem;  /* Reduz o tamanho do título */
    }

    .card-text {
        font-size: 0.9rem;  /* Reduz o tamanho do texto */
    }

    .btn-danger {
        font-size: 0.9rem;  /* Ajusta o tamanho do botão */
        padding: 8px 16px; /* Ajusta o padding do botão */
    }
}

/* Responsividade para telas de tamanho médio (426px) */
@media (max-width: 426px) {
    .main-card {    
        margin: 0 auto;
        width: 80%; /* Card ocupa toda a largura da tela */
    }

    .card-img-top {
        height: 180px;  /* Ajusta a altura da imagem */
    }

    .card-body {
        padding: 15px; /* Ajusta o padding do corpo do card */
    }

    .card-title {
        font-size: 1.2rem; /* Ajuste do tamanho do título */
    }

    .card-text {
        font-size: 1rem; /* Ajuste do tamanho do texto */
    }

    .btn-danger {
        font-size: 1rem; /* Ajuste do tamanho do botão */
    }
}

/* Responsividade para telas grandes (768px ou mais) */
@media (min-width: 768px) {
    .main-card {
        width: 100%; /* Ajuste o card para ter uma largura de 45% para se ajustar melhor */
    }

    .card-img-top {
        height: 200px;  /* Ajusta a altura da imagem */
    }

    .card-body {
        padding: 20px; /* Mantém o padding do corpo */
    }

    .card-title {
        font-size: 1.25rem;  /* Mantém o tamanho do título */
    }

    .card-text {
        font-size: 1rem;  /* Mantém o tamanho do texto */
    }

    .btn-danger {
        font-size: 1rem;  /* Mantém o tamanho do botão */
    }
}