/* CategoryPage.css */

.category-page {
    padding: 2rem;
    text-align: center;
}

.category-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;  /* Garante que a primeira letra da categoria seja maiúscula */
}